.home-container {
    width: 100%;
    min-height: 100vh;
    border-color: var(--dl-color-theme-neutral-dark);
    border-style: groove;
    border-width: 1px;
}

.home-button16, .home-button18, .home-button22, .home-button20, .home-button24, .home-button26, .home-button28, .home-button30, .home-button32, .home-button34, .home-button36, .home-button38, .home-button40, .home-button42, .home-button44, .home-button46, .home-button48, .home-button-1 {
    height: 100px;
    background-color: #FFD700;
    display: grid;
    place-items: center;
    border-style: ridge;
}

.square {
    width: 132px;
    height: 129px; 
    background-color: lightblue;
    margin: 5px;
    display: inline-block;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .square {
        width: 132px;
        height: 129px;
    }
}

@media (min-width: 1280px) {
    .square {
        width: 252px;
        height: 504px;
    }
}


